body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:url('../../images/о_себе/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  background-origin:border-box;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  opacity:0;
  color:transparent;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.5764705882352941);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.9921568627450981);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  color:rgba(0, 0, 0, 0.9921568627450981);
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Light Oblique", "Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:oblique;
  font-size:23px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:245px;
  width:718px;
  height:182px;
  display:flex;
  font-family:"Montserrat Light Oblique", "Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:oblique;
  font-size:23px;
  color:#FFFFFF;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:682px;
  width:731px;
  height:150px;
  display:flex;
  font-family:"Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:402px;
  width:731px;
  height:163px;
  display:flex;
  font-family:"Montserrat Light", "Montserrat", sans-serif;
  font-weight:300;
  font-style:normal;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Miriam Libre", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:875px;
  width:709px;
  height:78px;
  display:flex;
  font-family:"Miriam Libre", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:164px;
  width:477px;
  height:100px;
  display:flex;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:365px;
  width:477px;
  height:100px;
  display:flex;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:607px;
  width:477px;
  height:100px;
  display:flex;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:800px;
  width:477px;
  height:75px;
  display:flex;
  font-family:"Montserrat Bold Italic", "Montserrat", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:52px;
  color:#02ACC1;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:51px;
  background:inherit;
  background-color:rgba(46, 46, 46, 0.3764705882352941);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:23px;
  width:240px;
  height:51px;
  display:flex;
  color:#000000;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:51px;
  background:inherit;
  background-color:rgba(2, 172, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:23px;
  width:240px;
  height:51px;
  display:flex;
  color:#000000;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cascadia Mono Bold", "Cascadia Mono", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1669px;
  top:34px;
  width:94px;
  height:27px;
  display:flex;
  font-family:"Cascadia Mono Bold", "Cascadia Mono", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:51px;
  background:inherit;
  background-color:rgba(46, 46, 46, 0.3764705882352941);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:23px;
  width:240px;
  height:51px;
  display:flex;
  color:#000000;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cascadia Mono", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:36px;
  width:164px;
  height:25px;
  display:flex;
  font-family:"Cascadia Mono", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cascadia Mono", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:36px;
  width:84px;
  height:25px;
  display:flex;
  font-family:"Cascadia Mono", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
